
@*
    _UILayoutUsersPanels
*@


<a href="@(ViewBag.IsAuthenticated == "true" ? ViewBag.RoleUrl : ViewBag.RoleUrl)" class="btn btn-primary rounded-pill py-2 px-4">@(ViewBag.IsAuthenticated == "true" ? "Bilgilerim" : "Üye Ol")</a>



