@model List<ToListFeatureDTO>
@{
    ViewData["Title"] = "Öne Çıkan Alan";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}


<table class="table table-bordered">

    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Icon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><img src="@item.Icon" style="width:75px;height:75px" /></td>
            <td><a href="/AdminFeature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminFeature/UpdateFeature/@item.FeatureId" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }


</table>

<a href="/AdminFeature/CreateFeature" class="btn btn-success">Yeni Öne Çıkan Alan Ekle</a>
