@model List<Subscribe>
@{
    ViewData["Title"] = "Aboneler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-family: sans-serif;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }
</style>

<table>
    <tr>
        <th>E-Posta</th>
        <th>Aboneliği Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Email</td>
            <td><a class="btn btn-danger" asp-action="DeleteSubscribe" asp-route-id="@item.SubscribeId">Sil</a></td>
        </tr>
    }
</table>