@model ToListTopBarDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/UILayout.cshtml";
}

<div class="alert-info-red">
    <h5>Site Bütünlüğü Bozulmaması İçin 1 Öğe İle Sınırlandırılmıştır.</h5>
</div>




