@using Cental.DTOLayer.FeatureDtos
@model CreateFeatureDTO
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}


<h1>Öne Çıkan Alan Ekleme Sayfası</h1>

<form method="post">


    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Title" />

    <br />

    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" />

    <br />

    <label>İkon</label>
    <input type="text" class="form-control" asp-for="Icon" />

    <br />

    <button class="btn btn-primary">Ekle</button>


</form>