@model UpdateFeatureDTO
@{
    ViewData["Title"] = "EditFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}



<form method="post" asp-action="EditFeature">

    <input type="hidden" asp-for="FeatureId"/>

    <label><string>Başlık</string></label>
    <input type="text" class="form-control" asp-for="Title"/>

    <br />

    <label><strong>Açıklama</strong></label>
    <input type="text" class="form-control" asp-for="Description" />

    <br />


    <label><strong>İkon</strong></label>
    <input type="text" class="form-control" asp-for="Icon" />

    <br />

    <button class="btn btn-success" type="submit">Düzenle</button>


</form>

