@model List<ToListFeatureDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<div class="alert alert-danger">
    <h5>Site Bütünlüğü Bozulmaması İçin 4 Öğe İle Sınırlandırılmıştır.</h5>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Başlık</th>
            <th class="text-center">Açıklama</th>
            <th class="text-center">İkon</th>
            <th class="text-center">Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle text-center">@item.Title</td>
                <td class="align-middle text-center">@item.Description</td>
                <td class="align-middle text-center"><i class="@item.Icon"></i></td>
                <td class="align-middle text-center">
                    <a class="btn btn-primary" asp-action="EditFeature" asp-route-id="@item.FeatureId">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table td, .table th {
        vertical-align: middle;
    }
</style>